

@font-face {
    font-family: 'helveticaneuemedium';
    src: url('./assets/Fonts/neuemontreal-medium-webfont.woff2') format('woff2'),
         url('./assets/Fonts/neuemontreal-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'helveticaneuelight';
    src: url('./assets/Fonts/neuemontreal-regular-webfont.woff2') format('woff2'),
         url('./assets/Fonts/neuemontreal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.textreg{
    font-family: 'helveticaneuelight';
}

.textmed{
    font-family: 'helveticaneuemedium';
}

body {
  margin: 0;
  font-family:helveticaneuelight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


table{
    background-color: white;    
    width: 100%;    
    border-color: black;
    border-collapse: collapse;
    border-radius: 5px;
    position: relative;
}

thead{
    background-color: #efefef;
    position: sticky;    
    top: 0px;
    padding: 8px;
    padding-left: 34px;
    border-bottom: 1px solid #E7E7ED;    
    border-top: 1px solid #E7E7ED;  
    color: #8a8a8a;  
}

tr{
    border: 1px solid #E7E7ED;  
}

tr,td,th,thead, tbody{
    padding: 8px;
    padding-left: 34px;
    border-bottom: 1px solid #E7E7ED;    
}


.scroll-hidden::-webkit-scrollbar{
    display: none;
}

.animation{
    transition: all .2s ease-in;
}


select{
    background-color: transparent;
     border-radius:4px;
     padding: 16px;
     color: black;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;